
email-validator>=2.2.0
endpoints>=7.3.1
fastapi
flask>=3.1.0
flask-sqlalchemy>=3.1.1
gunicorn>=23.0.0
motor==3.1.1
openai>=1.72.0
passlib>=1.7.4
psycopg2-binary>=2.9.10
pydantic
pymongo==4.3.3
python-multipart>=0.0.20
stripe>=12.0.0
twilio>=9.5.2
uvicorn>=0.34.0
sendgrid
trafilatura
fastapi
motor
openai
passlib
pymongo
python-jose
python-multipart
twilio
uvicorn
pymongo
pymongo[srv]
openai-agents
PyPDF2
